@import "variaveis.css";

.btn-outline-light:hover {
    color: var(--roxo-principal) !important;
}

.btn-primary {
    background-color: var(--roxo-principal);
    border: none;
}

.btn-primary:hover {
    background-color: var(--roxo-principal-escuro) !important;
}

.btn-search {
    width: 4rem;
    margin-left: -4rem;
}

.btn-search:hover {
    background-color: #dedede !important;
}

.btn {
    white-space: nowrap;
}

#btn-footer:hover {
    background-color: var(--roxo-principal-escuro)
}