@import "variaveis.css";

.btn-outline-light:hover{
    color: var(--roxo-principal);
}

.btn-primary{
    background-color: var(--roxo-principal);
    border: none;
}

.btn-primary:hover{
    background-color: var(--roxo-principal-escuro) !important;
}

.btn-search{
    width: 4rem;
    margin-left: -4rem;
}

.btn-search:hover{
    background-color: #dedede !important;
}