:root {
    --color-light: #f8f9fa;
    --roxo-principal: #131267;
    --error-color: #f72702;
}

.cadastrar {
    background-image: url("../../img/background-cadastro.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--color-light);
}

form > input {
    margin-top: 8px;
}

h2, label {
    color: var(--color-light);
}

label {
    margin-top: 8px;
}

.cat-user input {
    display: none;
}

.cat-user input + label {
    padding-left: 2rem;
    position: relative;
    margin: .7rem .7rem .7rem 0
}

.cat-user input + label:before {
    content: "";
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid var(--color-light);
    border-radius: 5px;
    position: absolute;
    left: 0;
}

.cat-user input:checked + label:before {
    content: "\2713";
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    font-weight: 900;
}

.form-control, .form-select {
    max-width: 75%;
}

@media (max-width: 992px) {
    .form-control, .form-select {
        max-width: 100%;
    }

    .img-cadastro {
        display: none;
    }
}

@media (max-width: 768px) {
    .cadastrar {
        background-color: var(--roxo-principal);
        background-image: none;
    }
}

@media (max-width: 576px) {
    .img-cadastro {
        display: none;
    }
}

.error {
    content: "";
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid var(--error-color);
    border-radius: 5px;
    position: absolute;
    left: 0;
}