@import "variaveis.css";

.navbar{
    background-color: var(--roxo-principal);
    min-height: 85px;
}

.link-reset{
    text-decoration: none;
    color: currentColor;
}

.link-header{
    position: relative;
}

.link-header:after{
    content: '';
    position: absolute;
    background-color: #fff;
    height: 2px;
    width: 0;
    left: 0;
    bottom: 0;
    transition: .3s ease-out;
}

.link-header{
    color: var(--color-branco) !important;
}

.link-header:hover:after{
    width: 100%;
}