@import "variaveis.css";

#pesquisa {
    background-image: url('../../img/background.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    position: relative;
}

.bi-search {
    color: var(--roxo-principal);
    font-size: 1.3rem;
    line-height: 1;
}

#pesquisa {
    margin-bottom: -75px
}

#pesquisa > form > input, #pesquisa > form > button {
    margin-top: 150px;
}