@media (max-width: 768px) {
    #perfil {
        grid-template-areas: 
            "links"
            "foto"
            "dados"
            "config";
    }

    #perfil-config {
        justify-content: center;
    }
}

