#perfil {
    display: grid;
    grid-template-columns: 1fr 3fr 1.5fr;
    grid-template-rows: repeat(2, 150px);
    grid-template-areas: 
        "foto dados links"
        "foto dados config";
    background-image: url("../../img/background-perfil-adm.svg");
    background-size: cover;
}

#perfil-foto {
    grid-area: foto;
    display: flex;
    align-items: center;
}

#perfil-foto > img {
    width: 300px;
    height: 300px;
    max-width: 300px;
    min-width: 100px;
    max-height: 300px;
    min-height: 100px;
    border-radius: 50%;
    border: 3px solid #f8f9fa;
}

#perfil-dados {
    grid-area: dados;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1.8rem
}

#perfil-links {
    grid-area: links;
    display: flex;
    justify-content: end;
}

#perfil-links > ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    flex-direction: row-reverse;
    margin: 0;
    padding: 0;
}

#perfil-links > ul > li {
    font-size: 2rem;
    color: #f8f9fa;
    cursor: pointer;
}

#perfil-links > ul > li:hover {
    color: #d9d9da;
}

#perfil-config {
    grid-area: config;
    display: flex;
    justify-content: end;
    align-items: end;
}

#perfil-config button {
    margin-right: 1rem;
}

@media (max-width: 992px) and (min-width: 769px) {
    #perfil {
        grid-template-columns: 300px 1fr;
        grid-template-rows: repeat(2, auto);
        grid-template-areas: 
            "foto dados"
            "links config"
    }

    #perfil-links {
        justify-content: start;
    }
}

@media (max-width: 768px) {
    #perfil {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);
        grid-template-areas:
            "links"
            "foto"
            "config"
            "dados";
        row-gap: 1rem;
    }

    #perfil-foto {
        justify-content: center;
    }

    #perfil-config {
        justify-content: center;
    }

    #perfil-dados {
        margin: 0;
    }

    #perfil-links {
        justify-content: start;
    }

    #perfil-links > ul {
        flex-direction: row;
    }
}

@media (max-width: 350px) {
    #perfil-foto > img {
        width: 250px;
        height: 250px;
    }
}