.perfil{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(2, 140px);
    grid-template-areas: 
        "foto dados links"
        "foto dados config";
        background-image: url("../../img/background-perfil-adm.svg");
        background-size: cover;
}

#perfil-foto{
    grid-area: foto;
    display: flex;
    align-items: center;
}
#perfil-foto > img{
    width: 100%;
    min-width: 100px;
    max-width: 250px;
    height: 100%;
    min-height: 100px;
    max-height: 250px;
    border-radius: 50%;
}

#perfil-dados{
    grid-area: dados;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#perfil-links{
    grid-area: links;
    display: flex;
    justify-content: end;
}

#perfil-links > ul{
    list-style: none;
    display: flex;
    gap: 1rem;
    flex-direction: row-reverse;
}

#perfil-links > ul > li{
    font-size: 2rem;
    color: #f8f9fa;
    cursor: pointer;
}

#perfil-links > ul > li:hover{
    color: #d9d9da;
}

#perfil-config{
    grid-area: config;
    display: flex;
    justify-content: end;
    align-items: end;
}