@import "variaveis.css";

video {
    background-color: #000;
    width: 100%;
    aspect-ratio: 2/1;
}

.bi-star {
    font-size: 2rem;
}

.fotoUsuario {
    width: 4.6875rem;
    height: 4.6875rem;
    object-fit: cover;
}

#comentarios > .comentario > article {
    position: relative;
}

#comentarios > .comentario > article::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-color: #ccc;
    width: 2px;
    height: 100%;
}

.submit {
    font-size: 1.2rem;
    width: 2.5rem;
    height: 2.5rem;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.submit:hover {
    transform: scale(1.1);
    background-color: var(--roxo-principal-escuro) !important;
    box-shadow: 0 0 4px var();
}

#input-comentario {
    resize: none;
    overflow-y: hidden;
}

