@import "variaveis.css";

video {
    background-color: #000;
    width: 100%;
}

.bi-star {
    font-size: 2rem;
}

#fotoUsuario {
    width: 4.6875rem;
    height: 4.6875rem;
    object-fit: cover;
}