@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Indie+Flower&display=swap');

@import "variaveis.css";

@import "header.css";

@import "footer.css";

@import "buttons.css";

@import "card.css";

html {
    scroll-behavior: smooth;
}

body {
    background-color: #eeeeee;
    min-width: 320px;
}

main {
    min-height: calc(100vh - 225px);
}

.marca {
    font-family: 'Courgette', cursive;
    font-size: 1.7rem;
    margin-left: 1rem
}

.txt-branco {
    color: var(--color-light);
}

.txt-roxo {
    color: var(--roxo-principal);
}

.border-primary {
    border-color: var(--roxo-principal) !important;
}

.bg-primary {
    background-color: var(--roxo-principal) !important;
}

.text-primary {
    color: var(--roxo-principal) !important;
}

@media (max-width: 575px) {
    .nav-link {
        margin-bottom: 10px;
    }
}